<div>
   <li class="control-group nested-fields">
  <div class="controls">
    <%= form_for [@user, @workout] do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :sets %>
    <%= f.text_field :sets %>

    <%= f.label :reps %>
    <%= f.text_field :reps %>

    <%= f.label :rest %>
    <%= f.text_field :rest %>

    <%= f.submit "Submit" %>
    <% end %>
  </div>
</li>

</div>

