

<h3>Edit Personal Info </h3>

<%= simple_form_for @user do |f| %>
  <%= f.input :age %>
  <%= f.input :location %>
  <%= f.input :occupation %>
  <%= f.input :gym %>
  <%= f.input :about %>
  <%= f.input :gender, as: :radio_buttons, collection:['Male', 'Female']%>
  <%= "Update Profile Picture" %>
  <%= f.file_field :profile_photo %>

  <%= f.button :submit %>
<% end %>



