
<h3>Edit Profile Page</h3>
<%= simple_form_for @user do |f| %>
  <%= f.file_field :profile_photo %>
  <%= f.input :profile_photo, :as => :image_preview, :input_html => {:preview_version => :thumb} %>
  <%= f.button :submit, "Upload Picture" %>
<% end %>

<h3>Edit Personal Info </h3>

<%= simple_form_for @user do |f| %>
  <%= f.input :age %>
  <%= f.input :location %>
  <%= f.input :occupation %>
  <%= f.input :gym %>
  <%= f.input :about %>
  <%= f.input :gender, as: :radio_buttons, collection:['Male', 'Female']%>
  <%= f.button :submit %>
<% end %>



