<h3>Users</h3>


<ul>
  <% @users.each do |user|%>
   <% if user.image.blank? %>

    <li><%= image_tag("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/256/dumbbell.png", size: "100x100") %>
    <%= link_to user.name, user_path(user)%><%= ' - '%>  
    <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
    <br>
    <%else%>
      <li><%= image_tag user.image_url(:thumb).to_s %>
      <%= link_to "#{user.name}", user_path(user) %><%= ' - '%>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></li><br>
    <%end%>
  <%end%>
</ul>
