<%= "#{ @user.first_name } " "#{ @user.last_name }" %><br>
<div class="panel profile_photo">
  <img src="<%= @user.profile_photo.url %>" atl="profile photos" class="profile"/>
</div>

<%= link_to "Edit Profile", edit_user_path(@user) %><br>

<h4>Current Stats</h4>
<% @user_stats.each do |stat| %>
  <%= "Bench Max: #{stat.bench}" %><br>
  <%= "Squat Max: #{stat.squat}" %><br>
  <%= "Dead lift Max: #{stat.dead_lift}" %><br>
  <%= "Best Mile time: #{stat.mile}" %><br> 
<% end %>
<br>

<%= link_to "Edit your current stats", new_user_stat_path(@user) %><br>


<h4>Current Goals</h4>
<% @user_goals.each do |goal| %>
  <%= "Bench Goal: #{goal.bench}" %><br>
  <%= "Squat Goal: #{goal.squat}" %><br>
  <%= "Dead lift Goal: #{goal.dead_lift}" %><br>
  <%= "Goal Mile time: #{goal.mile}" %><br> 
<% end %><br>

<%= link_to "Edit your current goals", new_user_goal_path(@user) %><br>


<%= link_to "Log a new workout", new_user_workout_session_path(@user) %><br>


<h4>Workout's Completed</h4>

<% @user_workout_sessions.each do |session|%>
  <table>
    <%="Date: #{session.date_completed}"%><br> 
    <%="Workout Name: #{session.workout.name}"%><br>
    <%= link_to "Edit this workout",'workout_sessions#edit' %><br>
    <%= link_to "Delete this workout", 'workout_sessions#destroy', method: :delete %>
    <thead>
      <tr>
        <th>Exercise Name</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Rest Time</th>
      </tr>
    </thead>
    <% session.workout.workout_exercise_connectors.each do |interval| %>
    <tbody>
      <tr> 
        <td><%= interval.exercise.name %></td>
        <td><%= interval.sets %>
        <td><%= interval.reps %>
        <td><%= interval.rest_time %>
      </tr>
      <%end%>
    </tbody>
  </table>
<%end%>


