<div class = "panel overflow opacity margin-top">
  <div class="profile-container">
    <div class="pic">
      <h2><%= "#{ @user.name }" %></h2><br>
      <%= image_tag(@user.largeimage)%>
      <br>
    </div>
  </div>

  <div class="about-container">
    <h2 id = 'about'>About</h2>
    <% if @user.age == nil %>
       <%= "Age: --" %>
       <br>

    <% else %>
      <%= "Age: #{@user.age}" %>
     <br>
    <% end %>
    <br>

    <% if @user.location == nil %>
      <%= "Location: --" %>
    <% else %>
      <%= "Location: #{@user.location}" %>
     <br>
    <% end %>
    <br>

    <% if @user.gender == nil %>
      <%= "Gender: --" %>
    <% elsif @user.gender == false %>
      <%= "Gender: Male" %>
    <% else %>
      <%= "Gender: Female"%>
     <br>
    <%end%>
    <br>

    <% if @user.occupation == nil %>
      <%= "Occupation: --" %>
    <% else %>
      <%= "Occupation: #{@user.occupation}" %>
     <br>
    <% end %>
    <br>

    <% if @user.gym == nil %>
      <%= "Gym: --" %>
    <% else %>
      <%= "Current Gym: #{@user.gym}" %>
     <br>
    <% end %>
    <br>

    <% if @user.about == nil %>
      <%= "About: --" %>
    <% else %>
      <%= " Personal Description: #{@user.about}" %>
     <br>
    <%end%>
    <br>

    <% if @user != current_user %>
      <%= ''%>
    <%else%>
      <%= link_to "Edit Profile", edit_user_path(@user), :class => 'myButton' %><br><br>
     <br>
    <%end%>
   </div>
</div>

<div class = 'panel opacity'>
  <% if @user_friends.count == 0  %>
    <%= ' No Current Friends' %><br>
    <%= link_to ' Find Friends', users_path%><br><br>
  <% else %>
    <h4>Friends</h4>
      <ul class="small-block-grid-3 no-bullet">
        <% @user.friends.each do |user| %> 
          <li>
            <%= image_tag("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/256/dumbbell.png", size: "100x100") %>
            <%= user.name %><br>
            <%= link_to "Remove Friend", friendship_path, method: :delete, :class => 'myButton' %>
          </li>
         <% end %>
      </ul>
  <% end %>
</div>  

<div class = 'panel opacity'>
  <div class = 'row'>
    <div class="large-6 columns">
      <%if @user_stats != nil%>
        <h4>Current Stats</h4>
          <%= "Bench Max: #{ @user_stats.bench }" %><br>
          <%= "Squat Max: #{ @user_stats.squat }" %><br>
          <%= "Dead lift Max: #{ @user_stats.dead_lift }" %><br>
          <%= "Best Mile time: #{ @user_stats.mile} " %><br>
          <% if @user != current_user %>
            <%= ''%>
          <% else %>
            <%= link_to "Edit your current stats", edit_user_stat_path(@user, @user.stat), :class => 'myButton' %><br>
          <br>
          <%end%>
      <%else%>
        <%= "No Current Stats"%><br>
        <% if @user != current_user %>
            <%= ''%>
        <%else%>
          <%= link_to "Add your current stats", new_user_stat_path(@user, @user.stat), :class => 'myButton' %><br>
        <%end%>
      <%end%>
      <br>
    </div>
    <div class="large-6 columns">
      <%if @user_goals != nil%>
        <h4>Current Goals</h4>
          <%= "Bench Goal: #{ @user_goals.bench }" %><br>
          <%= "Squat Goal: #{ @user_goals.squat }" %><br>
          <%= "Dead lift Goal: #{ @user_goals.dead_lift }" %><br>
          <%= "Goal Mile time: #{ @user_goals.mile }" %><br>
          <% if @user != current_user %>
            <%= ''%><br>
          <%else%>
            <%= link_to "Edit your current goals", new_user_goal_path(@user, @user.goal), :class => 'myButton' %><br>
          <%end%>
        <%else%>
        <%= "No Current Goals"%><br>
          <% if @user != current_user %>
            <%= ''%><br>
          <%else%>
          <%= link_to "Add your current goals", new_user_goal_path(@user, @user.goal), :class => 'myButton' %><br>
        <%end%>
      <%end%>
      <br>
    </div>  
  </div>
</div> 

<div class = 'panel opacity'>
  <div class = 'workout-holder'>
    <% if @user != current_user %>
        <%= ''%><br>
    <%else%>
      <%= link_to "Log a new workout", new_user_workout_session_path(@user), :class => 'myButton' %><br>
    <% end %>
        
    <h4>Workouts Completed</h4>
    <br>
        <div class = 'workouts'>
          <div class = 'row'>
            <ul class="large-block-grid-2 columns">
              <% @user_workout_sessions.each do |session|%>
                <li>
                <table>
                  <%="Date: #{session.date_completed}"%><br>
                  <%="Workout Name: #{session.workout.name}"%><br>
                  <%= link_to "Delete this workout", 'workout_sessions#destroy', method: :delete %>
                  <thead>
                    <tr>
                      <th>Exercise Name</th>
                      <th>Sets</th>
                      <th>Reps</th>
                      <th>Rest Time</th>
                    </tr>
                  </thead>
                  <% session.workout.workout_exercise_connectors.each do |interval| %>
                    <tbody>
                      <tr>
                        <td><%= interval.exercise.name %></td>
                        <td><%= interval.sets %></td>
                        <td><%= interval.reps %></td>
                        <td><%= interval.rest_time %></td>
                      </tr>
                    </tbody>
                  <%end%> 
                </table>
                </li>
              <%end%>  
            </ul>
          </div>
        </div>            
  </div>
  <br>
  <%= link_to "Back to Home", user_path %>
</div>
