<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Fit Friends" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag :cocoon %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico'%>
  </head>

  <body>

   <div class="container">
      <%= render 'layouts/nav' %>

      <% flash.each do |name, msg| %>
        <div class="alert-box text-center <%= name %>">
          <%= msg %>
        </div>
      <% end %>
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
